{{ partial "header.html" . }}

<div id="main" class="container">
    <div id="content" class="typo">
        <div class="blog-index">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "archives") }}
            {{ range $paginator.Pages }}
            <article>
                <header>
                    <h2>
                        <div class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
                    </h2>
                    <p class="meta">
                        <time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                            <span class="date">{{ .Date.Format "Jan, 2, 2006" }}</span>
                            <span class="time">{{ .Date.Format "15:04 PM" }}</span>
                        </time>
                    </p>
                </header>
                <div class="entry-content"><p>{{ .Summary }}</p></div>
                {{ if .Truncated }}
                <footer>
                    <a title="{{ .WordCount }} Words, {{ .ReadingTime }} Minutes" href="{{ .RelPermalink }}" rel="full-article">Read More »</a>
                </footer>
                {{ end }}
            </article>
            {{ end }}

            {{ if gt $paginator.TotalPages 1 }}
            <p class="pagination salign">
                {{ if $paginator.HasNext }}
                <a class="btn outline secondary prev" href="{{ $paginator.Next.URL }}">← Prev</a>
                {{ end }}
                {{ if $paginator.HasPrev }}
                <a class="btn outline secondary next" href="{{ $paginator.Prev.URL }}">Next →</a>
                {{ end }}
            </p>
            {{ end }}
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
