<header id="header" role="banner">
    <nav class="nav">
        <div class="nav-left">
            <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <!-- <h2>{{ .Site.Params.description }}</h2> -->
            <div class="main-navigation" role="navigation">
                {{ range .Site.Menus.main }}
                <a class="nav-item" href="{{ .URL | absURL }}">{{ .Name }}</a> <span class="sep">❖</span>
                {{ end }}
                {{ if .RSSLink }}
                <a class="nav-item" href="{{ .Site.BaseURL }}atom.xml" rel="subscribe-rss" title="subscribe via RSS">
                    <abbr title="Subscribe via RSS">订阅</abbr>
                </a>
                {{ end }}
            </div>
        </div>
        <div class="nav-right valign">
            <div class="nav-item">
                <input type="checkbox" name="font-family" id="font-family" />
                <label for="font-family" title="Sans-serif">非衬线</label>
            </div>
            <div class="nav-item">
                <input type="checkbox" name="dark-theme" id="dark-theme" />
                <label for="dark-theme" title="Dark theme">暗色</label>
            </div>
        </div>
        <script>
            (function(window, document) {
                document.querySelector('#font-family').onclick = function() {
                    var font = this.checked ? 'sans-serif' : 'serif'
                    localStorage.setItem('fontFamily', font)
                    window.changeFont()
                }
                document.querySelector('#dark-theme').onclick = function() {
                    let exists = document.body.classList.toggle('dark')
                    localStorage.setItem('dark', exists)
                    window.changeTheme()
                }
            })(window, document);
        </script>
    </nav>
</header>
<script>
    (function(window, document) {
        window.changeTheme = function() {
            var el = document.getElementById('dark-theme')
            var dark = localStorage.getItem('dark')

            if (dark === 'true') {
                document.body.classList.add('dark')
                if (el) el.checked = true
            } else {
                document.body.classList.remove('dark')
                if (el) el.checked = false
            }
        }
        changeTheme()
    })(window, document);   
</script>
