<footer id="footer" role="contentinfo">
    <p>
        Copyright &copy; {{ now.Format "2006" }} keelii
    </p>
</footer>

</div><!-- .container -->

<script>

(function(window, document) {
    window.changeFont = function() {
        var el = document.getElementById('font-family')
        var font = localStorage.getItem('fontFamily')
        
        document.querySelectorAll('.typo').forEach(node => {
            node.classList.remove('sans-serif', 'serif')
            node.classList.add(font)
        })
        if (el) el.checked = font === 'sans-serif'
    }
    changeFont()
})(window, document); 
</script>

{{ range .Site.Params.scripts }}
<script src="{{ . }}"></script>
{{- end }}

{{ if .IsPage }}
{{ partial "page_resources.html" . }}
{{- end }}
<script>
!function(e){function t(e){for(var t=location.href,n=t.split("").reverse(),r=e.split(""),i=[],s=0,o=16;o>s;s++)i.push(r[s]+(n[s]||""));return i.join("")}var n=/([http|https]:\/\/[a-zA-Z0-9\_\.]+\.so\.com)/gi,r=e.location.href;if(r&&!n.test(r)&&window.navigator.appName){var i="//s.360.cn/so/zz.gif",o="0cbb5a2bef902d89e9dc9bb5f742b91c",u=t(o),a=new Image;r&&(i+="?url="+encodeURIComponent(r)),o&&(i+="&sid="+o),u&&(i+="&token="+u),o&&(a.src=i)}}(window);
</script>

</body>
</html>