{{ if and (.TableOfContents) (eq .Type "archives") }}
<section id="side-toc" class="side-toc odd toggle">
    <h2><span>Table  of contents</span> <span class="close-toc" onclick="document.querySelector('#side-toc').classList.add('toggle')">×</span></h2>
    {{ .TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}
    <div class="fold" onclick="document.querySelector('#side-toc').classList.toggle('toggle')">§</div>

</section>
<script>
document.onclick = function() {
    document.querySelector('#side-toc').classList.add('toggle')
}
document.querySelector('#side-toc').onclick = function(e) {
    e.stopPropagation()
}
</script>
{{ else }}
    {{ partial "widgets.html" . }}
{{ end }}

