{{ if eq .Site.Params.sidebar.recent true }}
<section class="odd">
    <h2>Recent Posts</h2>
    <ul id="recent_posts">
        {{ range first .Site.Params.sidebar.recentCount (where .Site.AllPages "Section" "archives") }}
        <li class="post">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

{{ if eq .Site.Params.sidebar.category true }}
<section class="even">
    <h2>Categories</h2>
    <ul id="category-list">
        {{ range $name, $items := .Site.Taxonomies.categories }}
        <li>
            <a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize }}">{{ $name }} ({{ len $items }})</a>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}

<section class="odd ad">
    <a href="https://www.vultr.com/?ref=6805146"><img src="https://www.vultr.com/media/banner_1.png" width="728" height="90"></a>
</section>
