{{ partial "header.html" . }}

<div id="main">
    <div id="content">
        <div class="blog-index">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}
            {{ range $paginator.Pages }}
            <article>
                <header>
                    <h1>
                        <div class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
                    </h1>
                    <p class="meta">
                        <time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                            <span class="date">{{ .Date.Format "Jan, 2, 2006" }}</span>
                            <span class="time">{{ .Date.Format "15:04 PM" }}</span>
                        </time>
                    </p>
                </header>
                <div class="entry-content"><p>{{ .Summary }}</p></div>
                {{ if .Truncated }}
                <footer>
                    <a title="{{ .WordCount }} Words, Maybe {{ .ReadingTime }} Minutes" href="{{ .RelPermalink }}" rel="full-article">Read More »</a>
                </footer>
                {{ end }}
            </article>
            {{ end }}

            {{ if gt $paginator.TotalPages 1 }}
            <div class="pagination">
                {{ if $paginator.HasNext }}
                <a class="prev" href="{{ $paginator.Next.URL }}">← Older</a>
                {{ end }}
                <a href="{{ "/articles" | absURL }}">Blog Archives</a>
                {{ if $paginator.HasPrev }}
                <a class="next" href="{{ $paginator.Prev.URL }}">Newer →</a>
                {{ end }}
            </div>
            {{ end }}
        </div>

        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}

