{{ partial "header.html" . }}

<div id="main">
    <div id="content">
        <div>
            <article class="hentry" role="article">
                <header>
                    <h1 class="entry-title">{{ .Title }}</h1>
                    <p class="meta">
                        <time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                            <span class="date">{{ .Date.Format "Jan,2 2006" }}</span>
                            <span class="time">{{ .Date.Format "15:04 PM" }}</span>
                        </time>
                    </p>
                </header>

                <div class="entry-content">{{ .Content }}</div>
                <footer>
                    <p class="meta">
                        <span class="byline author vcard">
                            Posted by <span class="fn">{{ or .Params.author .Site.Params.author }}</span>
                        </span>
                        {{ if (.Params.categories) }}
                        <span class="span">on</span>
                        <span class="categories">
                            {{ $categoryLen := len .Params.categories }}
                            {{ range $idx, $category := .Params.categories }}
                            <a class="category {{ $idx }}|{{ $categoryLen }}" href="{{ "/categories" | absURL }}/{{ $category }}">{{ $category }}</a>{{ if and (gt (add $idx 1) 0) (lt (add $idx 1) $categoryLen) }},{{ end }}
                            {{ end }}
                        </span>
                        {{ end }}
                        <span class="span">Last Modified</span>
                        <time class="entry-date" datetime="{{ .Lastmod.Format "2006-01-02 15:04:05" }}">
                            <span class="time">{{ .Lastmod.Format "PM 15:04" }}</span>
                            <span class="date">{{ .Lastmod.Format "Jan,2 2006" }}</span>
                        </time>
                    </p>
                    <p class="meta">
                        {{ if .PrevInSection }}
                        <span class="basic-alignment left">
                            &laquo; <a href="{{ .PrevInSection.Permalink }}" title="Previous Post: {{ .PrevInSection.Title }}">{{ .PrevInSection.Title }}</a>
                        </span>
                        {{ end }}

                        {{ if .NextInSection }}
                        <span class="basic-alignment right">
                            <a href="{{ .NextInSection.Permalink }}" title="Nextious Post: {{ .NextInSection.Title }}">{{ .NextInSection.Title }}</a> &raquo;
                        </span>
                        {{ end }}
                    </p>
                </footer>
            </article>
            {{ partial "disqus.html" . }}
        </div>

        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}

<script>if (typeof hljs) hljs.initHighlightingOnLoad();</script>
