{{ partial "header.html" . }}

<div id="main">
    <div id="content" class="typo">
        <div>
            <article role="article">
                <header>
                    {{ if (.Data.Plural) }}
                    <h2>{{ .Data.Singular | title }}: {{ .Title }}</h2>
                    {{ else }}
                    <h2 class="entry-title {{ .Section }}">归档 </h2>
                    {{ end }}
                </header>
                <div id="blog-archives">
                    {{ range .Data.Pages.GroupByDate "2006" }}
                        <h3>{{ .Key }}</h3>
                        {{- range .Pages }}
                        <article>
                            <header>
                                <h4>
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </h4>
                                <div class="meta">
                                    <time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                                        <span class="date">{{ .Date.Format "Jan" }}</span>
                                        <span class="time">{{ .Date.Format "2" }}</span>
                                    </time>
                                    <span class="categories">
                                        in
                                        {{ range .Params.categories }}
                                        <a class="category" href="{{ "/categories/"  }}{{ . | urlize }}">{{ . }}</a>
                                        {{ end }}
                                    </span>
                                </div>
                            </header>
                        </article>
                        {{- end }}
                    {{ end }}
                </div>
            </article>
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}