{{ partial "header.html" . }}

<div id="main">
    <div id="content">
        <div>
            <article role="article">
                <header>
                    {{ if (.Data.Plural) }}
                    <h1>{{ .Data.Singular | title }}: {{ .Title }}</h1>
                    {{ else }}
                    <h1 class="entry-title {{ .Section }}">Blog Archive </h1>
                    {{ end }}
                </header>
                <div id="blog-archives">
                    {{ range .Data.Pages.GroupByDate "2006" }}
                        <h2>{{ .Key }}</h2>
                        {{- range .Pages }}
                        <article>
                            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                            <time class="entry-date" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                                <span class="date">{{ .Date.Format "Jan" }}</span>
                                <span class="time">{{ .Date.Format "2" }}</span>
                            </time>
                            <footer>
                                <div class="categories">
                                    posted in
                                    {{ range .Params.categories }}
                                    <a class="category" href="{{ "/categories/"  }}{{ . | urlize }}">{{ . }}</a>
                                    {{ end }}
                                </div>
                            </footer>
                        </article>
                        {{- end }}
                    {{ end }}
                </div>
            </article>
        </div>
        {{ partial "sidebar.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}