@import "http://localhost:3000/dist/joshua.css";
body .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0; }
body .hljs,
body .hljs-subst {
  color: #444; }
body .hljs-comment {
  color: #888888; }
body .hljs-keyword,
body .hljs-attribute,
body .hljs-selector-tag,
body .hljs-meta-keyword,
body .hljs-doctag,
body .hljs-name {
  font-weight: bold; }
body .hljs-type,
body .hljs-string,
body .hljs-number,
body .hljs-selector-id,
body .hljs-selector-class,
body .hljs-quote,
body .hljs-template-tag,
body .hljs-deletion {
  color: #880000; }
body .hljs-title,
body .hljs-section {
  color: #880000;
  font-weight: bold; }
body .hljs-regexp,
body .hljs-symbol,
body .hljs-variable,
body .hljs-template-variable,
body .hljs-link,
body .hljs-selector-attr,
body .hljs-selector-pseudo {
  color: #bc6060; }
body .hljs-literal {
  color: #78a960; }
body .hljs-built_in,
body .hljs-bullet,
body .hljs-code,
body .hljs-addition {
  color: #397300; }
body .hljs-meta {
  color: #1f7199; }
body .hljs-meta-string {
  color: #4d99bf; }
body .hljs-emphasis {
  font-style: italic; }
body .hljs-strong {
  font-weight: bold; }

body.dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc; }
body.dark .hljs-keyword,
body.dark .hljs-selector-tag,
body.dark .hljs-tag {
  color: #e3ceab; }
body.dark .hljs-template-tag {
  color: #dcdcdc; }
body.dark .hljs-number {
  color: #8cd0d3; }
body.dark .hljs-variable,
body.dark .hljs-template-variable,
body.dark .hljs-attribute {
  color: #efdcbc; }
body.dark .hljs-literal {
  color: #efefaf; }
body.dark .hljs-subst {
  color: #8f8f8f; }
body.dark .hljs-title,
body.dark .hljs-name,
body.dark .hljs-selector-id,
body.dark .hljs-selector-class,
body.dark .hljs-section,
body.dark .hljs-type {
  color: #efef8f; }
body.dark .hljs-symbol,
body.dark .hljs-bullet,
body.dark .hljs-link {
  color: #dca3a3; }
body.dark .hljs-deletion,
body.dark .hljs-string,
body.dark .hljs-built_in,
body.dark .hljs-builtin-name {
  color: #cc9393; }
body.dark .hljs-addition,
body.dark .hljs-comment,
body.dark .hljs-quote,
body.dark .hljs-meta {
  color: #7f9f7f; }
body.dark .hljs-emphasis {
  font-style: italic; }
body.dark .hljs-strong {
  font-weight: bold; }

:root body {
  --bg-color: #F1FFFF;
  --fore-color: #034F50;
  --blockquote-bg: #CFF5EE;
  --code-mark-bg: #CFF5EE;
  --color-primary: #034F50;
  --color-lightGrey: #92D1C8;
  --color-grey: #50A5A6;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  transition: background 0.3s cubic-bezier(0, 0, 0.2, 1), color 0.3s cubic-bezier(0, 0, 0.2, 1); }
  :root body.dark {
    --bg-color: #232830;
    --fore-color: #F1FFFF;
    --code-mark-bg: #3f3f3f;
    --color-primary: #fff; }

.hljs {
  background: none !important;
  padding: 0 !important;
  display: initial !important; }

#header {
  padding-top: 24px; }
  #header h1 {
    white-space: nowrap;
    font-size: 36px;
    line-height: 1em;
    margin: 0; }
  #header .tabs {
    font-size: 14px; }
  #header .nav-item {
    padding-top: 0;
    padding-bottom: 0; }
  #header .sep {
    user-select: none;
    align-self: center;
    color: var(--color-lightGrey); }
  #header .main-navigation {
    display: flex; }

.blog-index h2 {
  margin-bottom: 0; }
.blog-index .meta {
  margin-top: 0;
  color: var(--color-grey); }

.hentry h1 {
  margin-bottom: 0; }
.hentry .meta {
  margin-top: 0;
  color: var(--color-grey); }
.hentry footer {
  padding-top: 48px; }
  .hentry footer .meta {
    display: flex;
    justify-content: space-between; }

#category-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap; }
  #category-list li {
    margin-right: 15px; }

#blog-archives article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px; }
  #blog-archives article header {
    margin: 5px 0; }
  #blog-archives article h4 {
    display: inline; }
  #blog-archives article time {
    color: var(--color-grey); }
  #blog-archives article .categories {
    margin-left: 12px; }
    #blog-archives article .categories a {
      margin-left: 5px; }

.hentry .meta {
  font-size: 14px; }

#footer {
  margin: 48px 0; }

#side-toc {
  width: 350px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  right: 0px;
  top: 0;
  font-size: 14px;
  background: #fff;
  padding: 0 20px;
  transition: right 0.2s cubic-bezier(0, 0, 0.2, 1); }
  .dark #side-toc {
    background: var(--code-mark-bg); }
  #side-toc.toggle {
    right: -345px; }
  #side-toc .fold {
    position: absolute;
    left: -20px;
    top: 50%;
    width: 25px;
    height: 55px;
    line-height: 55px;
    background: #fff;
    text-align: center;
    user-select: none;
    font-size: 20px;
    color: #666;
    cursor: pointer; }
    .dark #side-toc .fold {
      background: var(--code-mark-bg); }
  #side-toc h2 {
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: space-between; }
  #side-toc .close-toc {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    padding: 0 5px; }
  #side-toc #TableOfContents {
    height: calc(100vh - 70px);
    overflow-y: auto; }
    #side-toc #TableOfContents ul {
      padding-left: 1.5em;
      margin-top: 0; }
    #side-toc #TableOfContents li {
      padding: 2px 0;
      list-style: decimal; }
    #side-toc #TableOfContents > ul {
      padding-left: 1.5em; }

/*# sourceMappingURL=main.css.map */
